.container {
    padding: 0;
    margin: 0;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
  
  @media (max-width: 767px) {
    .grid {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
  
  @media (max-width: 500px) {
    .grid {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
  
  .bg-white {
    background-color: white;
  }
  
  .rounded-lg {
    border-radius: 20px;
  }
  
  .overflow-hidden {
    overflow: hidden;
  }
  
  .shadow-lg {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
  }