@tailwind base;
@tailwind components;
@tailwind utilities;

#menu{
display:block;
}
/* #mobile-menu{
    display:none;
    position:fixed;
    top:40px;
    right:10px;
    background:#fff;
    border:2px solid #ddd;
    width:200px;
} */
/* @media screen and (max-width:768px){
    #menu{
        display:none;
        }
    #mobile-menu{
            display:block;
        }
} */